<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koureisai-SB</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">SB Front</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1"></div>
        </div>
    </nav>
    <div class="container buttons-container">
        <div class="row items-row-header">
            <div class="col-md-5 important-item">
                <h1 class="item-name">ALL OFF</h1>
            </div>
            <div class="col-md-5 offset-md-2 important-item">
                <h1 class="item-name">ALL WHITE</h1>
            </div>
        </div>
        <div class="row items-row">
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
        </div>
        <div class="row items-row">
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
        </div>
        <div class="row items-row">
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
        </div>
        <div class="row items-row">
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
        </div>
        <div class="row items-row">
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
        </div>
        <div class="row items-row">
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
            <div class="col item-box">
                <h1 class="item-name">Title</h1>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>