<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koureisai-SB</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">SB Front</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1"></div>
        </div>
    </nav>
    <div class="container indicator">
        <div class="row">
            <div class="col now">
                {% if now_pattern %}
                    <h1>NOW: {{now_pattern}}</h1>
                {% else %}
                    <h1>NOW: ERROR_バグが発生しました</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container buttons-container">
        <div class="row items-row">
            <div class="col item-box">
                <form method="post" action="/set" name="form_clear">
                    <input class="form-control" type="hidden" name="pattern" value="clear">
                    <a href="javascript:form_clear.submit()">
                        <button class="btn btn-primary btn-pattern important" type="button">ALL CLEAR</button>
                    </a>
                </form>
            </div>
            <div class="col item-box">
                <form method="post" action="/set" name="form_allwhite">
                    <input class="form-control" type="hidden" name="pattern" value="MONOCOLOR">
                    <a href="javascript:form_allwhite.submit()">
                        <button class="btn btn-primary btn-pattern important" type="button">MONOCOLOR</button>
                    </a>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        {% if pattern_list %}
            <h1>Pattern</h1>
            {% for i in range(0, pattern_length_div_by_3_int+1) %}
                <div class="row items-row">
                {% for j in range(0, 3) %}
                    <div class="col item-box">
                        <form method="post" action="/set" name="form_pattern{{i*3+j}}">
                            <input class="form-control" type="hidden" name="pattern" value="{{pattern_list[i*3+j]}}">
                            <a href="javascript:form_pattern{{i*3+j}}.submit()" class="submit-button-link">
                                {% if pattern_list[i*3+j] %}
                                    <button class="btn btn-primary btn-pattern btn-gray" type="button">{{pattern_list[i*3+j]}}</button>
                                {% endif %}
                            </a>
                        </form>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}  
        {% else %}
            <h1>ERROR バグが発生しました</h1>
        {% endif %}

        {% if color_list %}
            <h1>Color</h1>
            {% for i in range(0, color_length_div_by_3_int+1) %}
                <div class="row items-row">
                {% for j in range(0, 3) %}
                    <div class="col item-box">
                        <form method="post" action="/set" name="form_color{{i*3+j}}">
                            <input class="form-control" type="hidden" name="color" value="{{color_list[i*3+j]}}">
                            <a href="javascript:form_color{{i*3+j}}.submit()" class="submit-button-link">
                                {% if color_list[i*3+j] %}
                                    <button class="btn btn-primary btn-pattern btn-gray" type="button">{{color_list[i*3+j]}}</button>
                                {% endif %}
                            </a>
                        </form>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}  
        {% else %}
            <h1>ERROR バグが発生しました</h1>
        {% endif %}
        
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>